.contenedor-carta{
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 50px white;
    border-radius: 10px;
    border: 3px solid black;
    
}

.nombre-personaje{
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px white;
    width: 100%;
    height: 10%;
    color:white;
    background-color: rgb(0, 0, 0);
    font-size: 2rem;
}
.enlace{
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 70%;
    
 }
.foto-personaje{
    
    width: 100%;
    height: 100%;
}

.contenedor-logo{
    border-top: 3px solid black;
    width: 100%;
    height: 20%;
    background-color: white;
    text-align: center;
}

.logo-nacion{
    height: 100%;
    border-radius:0 0 10px 10px;
}

.sombreado-hover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.151);
    width: 100%;
    height:100%;
    top:0;
    transform: translateY(100%)
}

.contenedor-carta:hover .sombreado-hover{
    transform: translateY(0);
    transition: transform 0.5s;
}


.contenedor-imagen-grande{
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    top: 0;
    left: 0;
    transform: scale(0);
}

.imagen-grande{
    position: relative;
    width: 50%;
    height: 75%;
}

.imagen-grande img{
    width: 100%;
    height: 100%;
}

.contenedor-imagen-grande:target{
    transform: scale(1);
    transition: transform 0.5s;
    z-index: 1;
}
 .close{
    border: 1px solid black;
    position:absolute;
    right:-1rem;
    top:-1rem;
    font-weight: bold;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    color: black;
 }
