
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
  height: 100vh;
}

.cartel-encabezado{
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation: show 2s ease 0s forwards;
  background-image: linear-gradient(rgba(255, 166, 0, 0.438),rgba(255, 255, 0, 0.473)), url(./components/images/logo-avatar.PNG);
  background-position: center;
  background-size:100% 500px;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.logo-avatar{
  width: 100%;
  height: 100%;
}

h1{
  margin:  auto 0px;
  text-align: center;
  background-color: black;
  color: white;
}

.aire{
  padding-top: 50px;
  background-color: rgb(13, 176, 240);
  width: 100%;
  height: 700px; 
}

.fuego{
  padding-top: 50px;
  background-color: rgb(185, 16, 16);
  width: 100%;
  height: 700px; 
}

.agua{
  padding-top: 50px;
  background-color:rgb(6, 10, 238);
  width: 100%;
  height: 700px;
}

.tierra {
  padding-top: 50px;
  background-color: rgb(2, 97, 15);
  width: 100%;
  height: 700px;
}
h2{
  font-size: 2rem;
  font-style: italic;
  color: white;
  margin-left: 100px;
}

.contenedor-personajes{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@keyframes show {
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
    }
  }
